*{
  margin: 0;
  box-sizing: border-box;
}

body{
  color: white;
  background-color: #050438;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-weight: 800;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 100px;
}

.main{
  text-align: center;
  
}

.object{
  height: 20px;
  width: 100px;
  background-color: aqua;
  z-index: 0;
}


.object2{
  margin-top: 100px;
  height: 100px;
  width: 100px;
  background-color: blueviolet;
  /* opacity: 0; */
  z-index: 0;
}

.object3{
  height: 20px;
  width: 20px;
  background-color: rgb(255, 0, 242);
  z-index: 555;
}

.object4{
  height: 100px;
  width: 100px;
  margin-top: 200px;
  margin-left: 500px;
  border-radius: 100%;
  background-color: rgb(17, 255, 21);
  
}

.object5{
  margin-left: 90%;
  height: 20px;
  width: 100px;
  background-color: rgb(217, 251, 0);
  z-index: 0;
}


.object6{
  margin-top: 100px;
  margin-left: 300px;
  height: 100px;
  width: 100px;
  background-color: blueviolet;
  /* opacity: 0; */
  z-index: 0;
}

.object7{
  height: 20px;
  width: 20px;
  background-color: rgb(71, 186, 144);
  z-index: 555;
}

.object7{
  height: 100px;
  width: 100px;
  margin-top: 200px;
  margin-left: 50px;
  border-radius: 100%;
  background-color: rgb(165, 13, 59);
  
}

.para{
  text-align: center;
  margin-top: 50px;
  margin-left: 300px;
  width: 33%;
  font-size: larger;
  text-decoration: none ;
  opacity: 0;
}